{
"data":[
	{
		"hostname" : "{{ dxtoolkit_engine_name }}",
		"ip_address" : "{{ delphix_engine }}",
		"username" : "{{ delphix_engine_admin }}",
		"password" : "{{ delphix_engine_password }}",
		"port" : "{{ delphix_engine_port }}",
		"default" : "true"
	}
       ]
}


